:root {
  --header-height: 60px;
  --footer-height: 100px;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

/* UTILS */

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.green-button {
  color: #4cc703;
}

/* HEADER */

header {
  height: var(--header-height);

  background-color: #0e0e0e;
}

.button-container {
  text-align: right;
}

.button-container button {
  background-color: #4a4a4a;
  color: #fefefe;
  font-size: 0.8rem;
  margin: 8px 5px 0 0;
  padding: 7px 7px;
  border-radius: 5px;
  border-style: none;
}

/* MAIN */

.wrapper {
  height: calc(100vh - var(--header-height) - var(--footer-height));

  overflow: auto;

  background-color: #0e0e0e;
}

.webcam-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

  padding: 15px 0 50px 0;
}

.webcam {
  width: calc(100% / 7 - 10px);
  min-width: 200px;
}

.webcam-image {
  position: relative;
}

.mic-status {
  display: inline-block;

  position: absolute;
  left: 0;
  bottom: 5px;

  font-size: 0.75rem;
  color: white;
  padding: 5px 8px;
  backdrop-filter: brightness(70%);
}

/* FOOTER */

.footer {
  height: var(--footer-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #222222;
}

.button-with-menu {
  display: flex;
  justify-content: center;
}

.button-plane,
.button-menu {
  background-color: inherit;
  color: white;
  padding: 10px 0;
  border-style: none;
}

.button-plane {
  text-align: center;
  padding-right: 7px;
  margin-left: 10px;
}

.button-icon {
  font-size: 2rem;
}

.button-menu {
  font-size: 0.7rem;
}

.option-button {
  display: flex;
}

.end-meeting {
  line-height: var(--footer-height);
  color: red;
  font-size: 0.85rem;

  padding: 0 20px;
  background-color: #4a4a4a;
}
