:root {
  --header-height: 100px;
  --footer-height: 100px;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  height: var(--header-height);
  /* debug */
  background-color: blue;
}

.button-container {
  text-align: right;
  padding-right: 5px;
}

.button-container button {
  background-color: #4a4a4a;
  color: #fefefe;
  margin-top: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  border-style: none;
}

/* MAIN */

.wrapper {
  height: calc(100vh - var(--header-height) - var(--footer-height));

  overflow: hidden;

  background-color: grey;
}

/* FOOTER */

footer {
  height: var(--footer-height);

  background-color: #222222;
}
